:root {
  /* Color Palette */
  --primary-color: #000000;
  --secondary-color: #3a3a3a;
  --accent-color: #ff6f61;
  --background-color: #ffffff;
  --text-color: #000000;
  --hover-color: #8639c5;
  --border-color: #cccccc;

  /* Fonts */
  --main-font: "Poppins", sans-serif;
  --heading-font-size: 60px;
  --subheading-font-size: 40px;
  --body-font-size: 18px;

  --dark-background-color: #2a292b;
  --dark-text-color: #fff;
  --dark-hover-color: #8639c5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  cursor: none;
}

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: block;
  height: auto;
  overflow: visible;
  flex-direction: row;

  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: url("/images/cursor.png");
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: black;
}

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#top-nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(189, 189, 189, 0.8);
  border-radius: 25px;
  padding: 0 20px 0 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 45px;
}

#top-nav li {
  display: inline-block;
}

#top-nav .nav-link {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
  line-height: 1;
}

#top-nav .nav-link:hover {
  color: #8639c5;
  opacity: 0.6;
}

#top-nav.visible {
  opacity: 1;
}

#top-nav .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
}

#sidebar {
  position: fixed;
  color: #000000;
  top: 10%;
  left: 20%;
  border-radius: 15px;
  width: 400px;
  height: 60vh;
  background: #f5f5f5;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#sidebar .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.header-image img {
  height: 250px;
}

#sidebar nav {
  margin-top: 40px;
}

#sidebar .social-icons {
  position: static;
  margin-top: auto;
  margin-bottom: 40px;
  padding-left: 25px;
}

.nz-image img {
  height: 180px;
  position: fixed;
  top: 61%;
  left: 12%;
  z-index: 99;
}

#main-content {
  margin-left: 45%;
  margin-right: 10%;
  width: 70vh;
  padding: 80px 40px;
  overflow-y: visible;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  margin: 25px 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
  transition: transform 0.8s ease;
}

nav ul li a.active {
  transform: scale(1.2);
  position: relative;
}

nav ul li a:hover {
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--hover-color);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: width 0.5s;
}

nav ul li a:hover::after,
.header-text {
  font-size: 30px;
  user-select: none;
}

.header-text p {
  font-size: 30px;
  color: var(--hover-color);
}

#age {
  margin-top: 12px;
  font-size: 18px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.spacer {
  height: 250px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  position: fixed;
  transition: transform 0.5s ease;
}

.social-icons.scale-up {
}

.social-icons a {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s;
  transition: transform 0.5s ease;
}

.social-icons a:hover {
  color: var(--hover-color);
}

/* about */
#about {
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
#about p {
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.title-0 {
  font-size: 80px;
  padding-left: 15px;
}
.title-1 {
  font-size: 80px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: var(--hover-color);
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #000000;
  padding-left: 15px;
  padding-top: 30px;
}

#lanuages a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease;
}

#lanuages a:hover {
  color: var(--hover-color);
}

/* Projects */
#projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.project {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid transparent;
  background-color: var(--background-color);
  border-radius: 7px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, border-color 0.3s ease;
}

.project-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-color);
}
.project-title-container {
  display: flex;
  justify-content: space-between;
}

.project-link {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-arrow {
  margin-left: 8px;
  color: #000000;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.project-arrow:hover {
  color: #8639c5;
}

.project-link:hover {
  color: var(--hover-color);
}

.project:hover .project-arrow {
  transform: translateX(5px);
}

.project:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project:hover .project-title {
  color: var(--hover-color);
}

.project-description {
  font-size: 14px;
  color: var(--text-color);
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  padding: 5px;
  padding-top: 20px;
}

.language-icon {
  height: 20px;
  border-radius: 2px;
  vertical-align: middle;
  padding-right: 4px;
}

.language-bubble {
  display: inline-flex;
  align-items: center;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  font-size: 20px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.language-bubble:hover {
  background-color: rgb(236, 236, 236);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.languages {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
  user-select: none;
}

/* Experience */
#experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.experience-item {
  display: flex;
  flex-direction: column; /* Changed to column to stack header and description */
  border: 2px solid transparent;
  background-color: var(
    --background-color,
    #e8f0fe
  ); /* Fallback to Google-inspired light blue */
  border-radius: 7px;
  padding: 15px; /* Increased padding for better spacing */
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, border-color 0.3s ease;
}

.experience-info {
  margin-top: 10px; /* Adds spacing between header and description */
}

.experience-title {
  font-size: 21px;
  margin: 0; /* Adjusted to remove unnecessary margin */
  color: var(--text-color, #333333); /* Fallback for readability */
}

.experience-description {
  font-size: 14px;
  color: var(--text-color, #333333); /* Fallback for readability */
}

.experience-date {
  font-size: 16px;
  color: var(--primary-color, #4285f4); /* Google blue as fallback */
  white-space: nowrap; /* Prevents date from wrapping */
}

.experience-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a shadow for lifted effect */
}

.experience-item:hover .experience-title {
  color: var(--hover-color, #db4437); /* Google red for hover effect */
}

#resume {
  margin-top: 10px;
}

.resume {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  position: relative;
}

.resume a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.resume a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--hover-color);
  position: absolute;
  left: 50%;
  bottom: -2px;
  transition: 0.5s ease;
  transform: translateX(-50%);
}

.resume a:hover::after {
  width: 100%;
  left: 50%;
}

#mobile-header {
  display: none;
}

@media (max-width: 1624px) {
  #sidebar {
    left: 15%;
  }
}

@media (max-width: 1174px) {
  #sidebar {
    left: 10%;
  }
}

@media (max-width: 980px) {
  #sidebar {
    display: none;
  }
  #main-content {
    margin-left: 0%;
    margin-right: 0%;
    width: 100vw;
    padding: 10px 10px;
    overflow-y: visible;
  }

  #mobile-header {
    display: block;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: sticky;
    font-size: 30px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(42, 41, 43, 0.3);
    z-index: 1000;
  }
  #top-nav {
    display: none;
  }
}
